# ==============================================================================
# ApexStore Environment Configuration Template (.env.example)
# Copy this file to '.env' and update with your custom values
# ==============================================================================

# Active Spring Profile: 'dev' (H2 in-memory DB) or 'prod' (MySQL Database)
SPRING_PROFILES_ACTIVE=prod

# MySQL Database Configuration
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=WJ28@krhps

# Eureka Service Discovery URL
EUREKA_SERVER_URL=http://localhost:8761/eureka/

# Product Image Base URL
IMAGE_BASE_URL=http://localhost:8080

# Security (JWT)
JWT_SECRET=404E635266556A586E3272357538782F413F4428472B4B6250645367566B5970
JWT_EXPIRATION_MS=86400000

