# Compiled Java class files and build artifacts
target/
*.class
*.jar
*.war
*.ear
*.log

# Maven
.mvn/wrapper/maven-wrapper.jar

# Node & Frontend
node_modules/
dist/
.angular/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE and OS
.idea/
*.iml
.vscode/
.DS_Store
Thumbs.db

# Environment variables and data
.env
data/
*/data/
